name: generate animation

on:
  schedule:
    - cron: "0 */24 * * *" 
  workflow_dispatch:
  push:
    branches:
    - main

jobs:
  generate:
    permissions: 
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    
    steps:
      - name: generate pacman-contribution-graph.svg (light)
        uses: abozanona/pacman-contribution-graph@fc4d0fd
        with:
          github_user_name: ${{ github.repository_owner }}
          svg_out_path: dist/github-contribution-grid-snake.svg

      - name: generate pacman-contribution-graph.svg (dark)
        uses: abozanona/pacman-contribution-graph@fc4d0fd
        with:
          github_user_name: ${{ github.repository_owner }}
          theme: github-dark
          svg_out_path: dist/github-contribution-grid-snake-dark.svg
          
      - name: push animation to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
